{% extends 'base.html' %}
{% block head %}
    {% include 'common/head.html' %}
    <!-- POPUP BEGIN -->
    <div id="overlay"></div>
    <div id="login" class="block_popup">
        <div class="popup">
            <a href="#" class="close">关闭</a>

            <div class="content">
                <div class="title"><p>登录这个网站</p></div>

                <div class="form">
                    <form action="#"/>
                    <div class="column">
                        <p class="label">用户名 : </p>
                        <div class="field"><input type="text"/></div>
                    </div>

                    <div class="column">
                        <p class="label">密码 : </p>
                        <div class="field"><input type="password"/></div>
                    </div>

                    <div class="column_2">
                        <div class="remember">
                            <div class="checkbox"><input type="checkbox"/></div>
                            <div class="remember_label"><p>记住我</p></div>
                        </div>
                    </div>

                    <div class="column_2">
                        <p class="forgot_pass"><a href="#">忘记密码?</a></p>
                    </div>

                    <div class="column button">
                        <a href="#" class="enter"><span>登录</span></a>
                    </div>

                    <div class="clearboth"></div>
                    </form>
                </div>

                <div class="subtitle"><a href="#">以管理员登录</a></div>

                <!--<div class="fb_button"><a href="#"><img src="images/button_fb_login.png" alt=""/></a></div>-->
                <!--<div class="text"><p></p></div>-->
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
    {% include 'common/detail_content.html' %}
{% endblock %}
{% block footer %}
    {% include 'common/footer.html' %}

{% endblock %}
