<div id="content" class="right_sidebar">
    <div class="inner">
        <div class="general_content">
            <div class="main_content">
                <!-- 热门 div -->
                <div class="block_special_topic">
                    <div class="type"><p>热门 主题</p></div>
                    <div class="title"><p><a href="#">90后的头发去哪里了?</a></p>
                    </div>
                </div>
                <div class="separator" style="height:17px;"></div>



                <h3 style="font-size:16px;">全部新闻</h3>
                <div class="line_4" style="margin:-4px 0px 18px;"></div>
                {#            模板  有四条新闻#}
                <div class="block_topic_news">
                    {% for new in news %}



                    <article class="block_topic_post">
                        <p class="title"><a href="#">{{ new.title }}</a></p>
                        <div class="f_pic"><a href="#" class="general_pic_hover scale"><img
                                src="{{ new.image_url }}" alt=""/></a></div>
                        <p class="text">{{ new.content }}</p>
                        <div class="info">
                            <div class="date"><p>{{ new.news_date }}</p></div>

                            <div class="r_part">
                                <div class="category"><p><a href="#">Business</a></p></div>
                                <a href="#" class="views">{{ new.view_count }}</a>
                            </div>
                        </div>
                    </article>
                    {% endfor %}

                </div>

                <div class="line_3" style="margin:20px 0px 24px;"></div>


                <div class="line_2" style="margin:24px 0px 35px;"></div>

                <div class="line_2" style="margin:20px 0px 0px;"></div>

            </div>

            <div class="sidebar">
                <div class="block_subscribes_sidebar">
                    <div class="service">
                        <a href="#" class="rss">
                            <span class="num">11 234</span>
                            <span class="people">Subscribers</span>
                        </a>
                    </div>
                </div>

                <div class="separator" style="height:31px;"></div>

                <div class="block_popular_posts">
                    <h4>热门新闻</h4>

                    <div class="article">
                        <div class="pic">
                            <a href="#" class="w_hover">
                                <img src="" alt=""/>
                                <span></span>
                            </a>
                        </div>

                        <div class="text">
                            <p class="title"><a href="#">Packages and web page editors their default text.</a></p>
                            <div class="date"><p>11 July, 2012</p></div>
                            <div class="icons">
                                <ul>
                                    <li><a href="#" class="views">41</a></li>
                                    <li><a href="#" class="comments">22</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="line_3"></div>

                </div>

                <div class="separator" style="height:31px;"></div>

                <div class="separator" style="height:31px;"></div>

                <div class="block_calendar">
                    <h4>日历</h4>

                    <div class="calendar" id="calendar_sidebar">
                    </div>

                    <script type="text/javascript">
                        var today = new Date();
                        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                        $('#calendar_sidebar').DatePicker({
                            flat: true,
                            date: date,
                            calendars: 1,
                            starts: 1,
                            locale: {
                                days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                                daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                                daysMin: ['S', 'M', 'T', 'W', 'T', 'F', 'S', 'S'],
                                months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                                monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                weekMin: 'wk'
                            }
                        });
                    </script>

                    <div class="line_2"></div>
                </div>

                <div class="separator" style="height:31px;"></div>


                <div class="separator" style="height:31px;"></div>


                <div class="separator" style="height:31px;"></div>


            </div>

            <div class="clearboth"></div>
        </div>
    </div>
</div>